@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }

    #text-modal{
        font-size: 28pt;
        letter-spacing: 1px;
        margin-top: -100px;
    }

    #fechar-modal{
        width: 120px;
        height: 45px;
        font-size: 14pt;
    }

    #div-newsletter{
        padding: 0px 10px;
    }

    #label-newsletter{
        margin-right: 0px;
    }

    #input-newsletter{
        display: none;
        width:180px;
    }
    
    #button-newsletter{
        display: block;
        animation-delay: 0.5s;
        opacity: 1;
        pointer-events: none;
    }

    #icon-send{
        width: 18px;
        margin-right: 5px;
    }

    #modal-msg{
        width: 380px;
        height: 400px;
        gap: 30px;
        text-align: center;
    }

    #title-msg{
        margin-top: 30px;
    }

    .body-text-msg{
        font-size: 14pt;
    }

    #link-msg{
        font-size: 12pt;
    }

    #fechar-msg{
        font-size: 16pt;
        width: 40px;
        height: 40px;
    }

    #eye{
        width: 40px;
    }

    #eye:hover {
    opacity: 1;
    }

    #logotipo{
        width: 160px;
    }

    #title{
        font-size: 34pt;
        letter-spacing: 2px;
    }

    footer{
        width: 95%;
        height: 160px;
        justify-content: center;
        border-radius: 35px 35px 0px 0px;
    }

    #social-media{
        width: 280px;
        justify-content: space-around;
    }

    .button-circle{
        width: 45px;
        height: 45px;
    }

    .icon-svg{
        width: 20px;
        animation: greenPulse 3.5s infinite ease-in-out;
        }

    .button-circle:hover {
    transform: scale(1);

    }

    .button-circle:hover .icon-svg {
        fill: #dadada;
    }

    #footer-text{
        font-size: 10pt;
        margin-top: 30px;
    }

    @keyframes greenPulse {
    0% {
        fill: #dadada;
    }
    5% {
        fill: #a3fc83;
    }
    10% {
        fill: #a3fc83;
    }
    30% {
        fill: #dadada;
    }
    100% {
        fill: #dadada;
    }
    150% {
        fill: #dadada;
    }
    }

    #social-media > a:nth-child(1) .icon-svg { animation-delay: 0s; }
    #social-media > a:nth-child(2) .icon-svg { animation-delay: .3s; }
    #social-media > a:nth-child(3) .icon-svg { animation-delay: .6s; }
    #social-media > a:nth-child(4) .icon-svg { animation-delay: 1s; }
    #social-media > a:nth-child(5) .icon-svg { animation-delay: 1.3s; }

}
