* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    background-color: #a3fc83;
}

canvas {
  display: block;
  background-color: transparent;
  position: absolute;
  z-index: -1;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Fica atrás de tudo */
}

/* O vídeo cobre toda a tela */
.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* recorta proporcionalmente */
  opacity: 0.08;
  
}

#modal-msg{
    width: 500px;
    background-color: white;
    height: 300px;
    z-index: +1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: left;
    border-radius: 45px;
    position: fixed;
    margin-top: -120px;
    display: none;
    opacity: 0;
    align-self: center;
}

#title-msg{
    color: #176b39;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 700;
    
}

.body-text-msg{
    font-size: 12pt;
    color: #181818;
    padding: 0px 30px;
}

#link-msg{
    background-color: #a3fc83;
    color: #181818;
    font-size: 10pt;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    box-shadow: 2px 2px 3px #18181840;
}

#link-msg:hover{
    background-color: #176b39;
    color: #dadada;
}

#fechar-msg{
    background-color: #2d2d2d;
    color: #dadada;
    width: 30px;
    height: 30px;
    font-weight: 900;
    font-size: 14pt;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 30px;
    transition: all 0.5s;
}

#fechar-msg:hover{
    background-color: #a3fc83;
    color: #181818;
    scale: 1.1;
}


#eye{
    width: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container-cancelamento{
    display: flex;
    flex-direction: row;
    height: 45px;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 1s;
}

h1{
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  font-size: 16pt;
  margin-bottom: 20px;
  vertical-align: middle;
}

input{
    all: unset;
    box-sizing: border-box;
}

input::placeholder {
  color: #181818c4; 
  opacity: 1;
}

input{
    background-color: transparent;
    height: 40px;
    width: 400px;
    font-size: 12pt;
    border: solid 2px #181818;
    border-radius: 100px;
    padding: 0px 15px;
    color: #181818;
    transition: all 0.5s;
    background-color: white;
}

input:hover{
    border-color: #176b3975 ;
}

input:focus{
    border-color: #176b39;
}

button{
    width: auto;
    height: auto;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

#icon-cancelamento{
    fill: #181818;
    width: 32px;
    transition: all 0.5s;
    margin-top: 2px;
}

button:hover #icon-cancelamento {
    fill: #ed3e3eff;
    scale: 1.08;
}

.fade-bottom-out{
    animation: fade-bottom-out 0.5s forwards;
}

.fade-bottom-in{
    animation: fade-bottom-in 0.5s forwards;
}

@keyframes fade-bottom-out {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(5px);
        opacity: 0;
    }
}

@keyframes fade-bottom-in {
    0%{
        transform: translateY(5px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.container {
	width: 600px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
    margin-top: -120px;
}

.inner-container {
	width: 160px;
}


svg {
	max-width: 90%;
	position: relative;
	left: 5%;
	margin: 0 auto;
}


#blob-3,
#blob-2,
#mouth-happy,
#mouth-sad,
#eyebrow-happy-left,
#eyebrow-happy-right,
#eyes-laughing,
#open-mouth,
#tongue,
#mouth-scared {
	display: none;
}
@media (max-width: 699px) {
	.container {
		width: 90%;
	}
		.bottom {
		margin-top: 1em;
			max-width:90%;
	}
}
@media (max-width: 399px) {
	.container {
		padding: 20px;
	}
	.bottom {
		margin-top: 0em;
		max-width: 90%;
		h2 {
			font-size: 24px;
		}
	}
	.buttons {
		flex-direction: column;
		button {
			margin-right: 0;
		}
	}
	svg {
		padding-top: 0;
	}
}
