* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: transparent;
    position: relative;
    background-color: #dadada;
    color: #181818;
    overflow-x: hidden;
    text-align: left;
    padding: 80px 400px;
    font-weight: 500;

}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Fica atrás de tudo */
}

/* O vídeo cobre toda a tela */
.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* recorta proporcionalmente */
  opacity: 0.03;
  
}

#eye{
    width: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.update{
    font-size: 12pt;
    text-align: right;
    
}

b{
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #176b39;
    font-weight: 700;
    cursor: pointer;
}

hr{
    align-self: left;
    width: 80%;
    border: 0;
    height: 0.5px;
    background-color: #176b39;
    border-radius: 100px;
    margin: 20px 0px;
}
li{
    padding: 3px 0px;
    margin: 0px 25px;
    font-weight: 600;
    font-style: italic;
    color: #176b39;
    list-style-image: url('../images/li.webp');
    cursor: pointer;
}

.first-li{
    margin-top: 10px;
}

.last-li{
    margin-bottom: 10px;
}

h1{
 font-size: 16pt;
 font-weight: 700;
 margin: 10px 0px;
}

h2{
    font-size: 14pt;
    font-weight: 500;
    padding: 10px 0px;
}

h3{
    color: #181818;
    font-weight: 700;
    margin: 5px 0px;
}
p{
    font-weight: 500;
    margin: 10px 10px;
}

.dados{
    margin-bottom: 0;
}

@media (max-width: 768px) {
    body{
        overflow-x: hidden;
        padding: 80px 30px;
    }

    #eye{
        width: 40px;
    }
}